<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h4><a th:href="@{/}">Перейти на главную страницу</a></h4>
    <h1>Ваш профиль</h1>

    <h2>Кандзи в списке на повторение</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Символ кандзи</th>
            <th>Значение</th>
            <th>Количество повторений</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pk : ${processKanjies}">
            <td th:text="${pk.kanji.sign}" style="font-size: 30px; font-weight: bold"></td>
            <td th:text="${pk.kanji.meaning}"></td>
            <td th:text="${pk.repeatCount}"></td>
            <td><a th:href="@{/profile/clean/{id}(id=${pk.id})}">Сбросить прогресс</a></td>
        </tr>
        </tbody>
    </table>

    <h2>Изученные кандзи</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Символ кандзи</th>
            <th>Значение</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pk : ${learnedKanjies}">
            <td th:text="${pk.kanji.sign}" style="font-size: 30px; font-weight: bold"></td>
            <td th:text="${pk.kanji.meaning}"></td>
            <td><a th:href="@{/profile/clean/{id}(id=${pk.id})}">Сбросить прогресс</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>