<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1> Что такое кандзи?</h1>
    <p>
        Кандзи (漢字) — китайские иероглифы, используемые в современной японской письменности наряду с хираганой,
        катаканой, арабскими цифрами и ромадзи (латинским алфавитом).
    </p>

    <p>
        Японский термин кандзи (漢字) буквально означает «Буквы (династии) Хань». Точно неизвестно, каким путём
        китайские иероглифы попали в Японию, однако сегодня общепринятой считается версия о том, что впервые
        китайские тексты завезли в страну буддийские монахи из корейского королевства Пэкче в V в. н. э. Эти тексты
        были написаны на китайском языке, и для того, чтобы японцы могли их прочесть при помощи диакритических знаков
        с соблюдением правил японской грамматики, была создана система камбун (漢文).
    </p>

    <p>
        Изначально кандзи и китайские ханьцзы ничем друг от друга не отличались: китайские иероглифы использовались
        для записи японского текста. Однако в настоящее время между ханьцзы и кандзи имеется значительная разница:
        некоторые иероглифы были созданы в самой Японии, некоторые получили другое значение; кроме того, после Второй
        мировой войны написание многих кандзи было упрощено.
    </p>
    <h4><a th:href="@{/}">Перейти на главную страницу</a></h4>
</body>
</html>