<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Как построенно обучение в системе?</h1>

    <p>
        Обучение в системе построенно на методике Интервальных повторений
    </p>

    <p>
        Интервальные повторения — техника удержания в памяти, заключающаяся в повторении
        запомненного учебного материала по определённым, постоянно возрастающим интервалам. Хотя этот принцип может
        найти применение для запоминания любой информации, наиболее широкое распространение он получил при изучении
        иностранных языков. Интервальные повторения не предполагают заучивания наизусть без понимания (но и не
        исключают его), и не противопоставляются мнемонике.
    </p>

    <p>
        Повторение кандзи в даной системе происходит с следующими интервалами (интервалы считаются между двумя крайними
        повторениями иероглифов): 1, 3, 7, 14, 30, 60 дней.
    </p>

    <h4><a th:href="@{/}">Перейти на главную страницу</a></h4>
</body>
</html>